<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/"><img src="./images/logo.svg" alt="" /></a>
      <div class="nav-items">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
        <a href="#">Carriers</a>
      </div>
      <a id="LoginBtn" href="/login"><button>LOGIN</button></a>
    </nav>
    <header class="hero-section">
      <div class="hero-text-container">
        <h1>Next generation<br />
          digital banking</h1>
        <p>Take your financial life online. Your easy bank account<br />
          will be a one-stop-shop for spending,saving,<br />budgeting,investing,
          and much more.</p>
        <button>LET'S GET STARTED</button>
      </div>
      <div class="hero-img-container">
        <img src="./images/image-mockups.png" alt="" />
      </div>
    </header>
  </body>
</html>