<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/user.css" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/"><img src="/public/images/logo.svg" alt="" /></a>
      <div class="nav-items">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-sm" id="color1"><i class='fas fa-user-circle' style='font-size:27px'></i></i></button>
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" id="color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Name: <b>{{data.fullName}}</b></a>
          <a class="dropdown-item" href="#">NumBalance: <b>{{data.numberBalance}} VNĐ</b></a>
          <a class="dropdown-item" href="#"> <b>{{data.gmail}}</b></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>
    </nav>
    <header class="hero-section">
      <div class="hero-text-container">
        <h1>Next generation<br />
          digital banking</h1>
        <p>Take your financial life online. Your easy bank account<br />
          will be a one-stop-shop for spending,saving,<br />budgeting,investing, and much more.</p>
          <a href="/payment"><button class="color">TUITION PAYMENT</button></a>
      </div>
      <div class="hero-img-container">
        <img src="/public/images/image-mockups.png" alt="" />
      </div>
    </header>
  </body>
</html>