@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");

body {
  background-color: #fcfcfc;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-items>a:hover {
  color: rgb(40, 37, 37);
  font-weight: bold;
  font-size: 125%;
}

.nav-items>a {
  text-decoration: none !important;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(233, 8%, 62%);
  margin-left: 10px;
  font-weight: bold;
}

.nav-bar>a>button {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(120deg,
      hsl(192, 70%, 51%),
      hsl(136, 65%, 51%));
}

.container-r {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .form-container {
  width: 800px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.08);
  display: grid;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.form-container form {
  padding: 30px;
}
form .fields input {
  margin: 15px 0;
  display: block;
  width: 100%;
  padding: 13px 15px;
  border-radius: 5px;
  border: none;
  background-color: #fcfcfc;
  border: 2px solid #f4f4f4;
  transition: all 0.2s;
  outline: none;
}
form .fields input:focus {
  border: 2px solid rgb(5, 44, 73);
}
form .socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}
.socials .social {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.socials .social:hover {
  background-color: black;
  color: white;
}
#profile {
  border-radius: 5px;
  padding: 3px;
}
form h1 {
  font-weight: bold;
  font-size: 2em;
  color: rgb(5, 44, 73);
}
form .btn-submit {
  padding: 13px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(
    120deg,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
  font-weight: bold;
  color: white;
}
form .links {
  margin-top: 20px;
}
.links .link a {
  color: rgb(5, 44, 73);
}
.footer {
  background-color: hsl(233, 26%, 24%);
  height: 30vh;
}
.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu > a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  font-weight: 600;
}
.social-container {
  margin-top: 3rem;
}
.social-container > img {
  margin-left: 10px;
  cursor: pointer;
}
.footer-container > button {
  margin-top: 3rem;
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(
    120deg,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
}
